html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
.container{
    max-width: 1170px;
    margin: 0 auto ;
    padding: 0 15px;

}
a{
    text-decoration: none;
    color:initial;
}
button{
    padding: 0;
    border-radius: 3px;
    border: none;
    cursor: pointer;

}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-family: 'Open ', sans-serif;
    font-size: 16px;
    background-color: #fff;

}
.logo {
    margin-right: auto;
}
.btn{
    padding: 15px 35px;
    color: #FFF;
    font-size: 15px;
    background-color: #3172B9;
    font-weight: 600;
}
.bt{
    padding: 15px 35px;
    background-color: #3172B9;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;

}

.nav__list{
    display: flex;
    align-items: center;
    gap: 52px;
}
.nav__link{
    color: #1C1C1C;
    font-size: 15px;
    font-weight: 300;
    position: relative;   
    font-size: 18px;
    font-weight: 600;
    transition: color .2s ease-in-out;
}
.nav__link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    display: block;
    background-color: #3172B9;
    /*transform: translateY(10px);*/
    /*opacity: 0;*/
    transform: scaleX(0);
    transition: transform .2s ease-in-out,opacity .2s ease-in-out;
}
.nav__link:focus-visible{
    outline-offset: 2px;
    outline: 2px solid #71A7E2;
}
.nav__link:hover{
    color: #71A7E2;
}
.nav__link--active::before,
.nav__link:active::before{
    transform: none;
    opacity: 1;
    color: #3172B9;
    background-color: #3172B9;
}
.nav__link--active,
.nav__link:active{
    color: #3172B9;
}

.btn{
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}
.btn:focus-visible,
.btn:hover{
    background-color: #71A7E2;
}
.btn:active{
    background-color: #0E3B6C;
}
.Home{
    color: #3172B9;
}
.header__container{
    display: flex;
    align-items: center;
}
.nav{ 
    display: flex;
    margin-right: 52px;
    margin-left: auto;
}
.header{
    padding: 30px 0;
}
.hero__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 113px 0 134px 0;
}

.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover; /* изучить */
}

.hero__title{
    margin: 0;
    max-width: 529px;
    color: #1C1C1C;
    font-size: 40px;
    font-weight: 300;
    line-height: 130%; /* 52px */
}
.hero__descrirtion{
    margin: 0;
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    max-width: 471px;
    margin-top: 26px;
    margin-bottom: 34px;
}
.hero__certificate{
    padding-left: 27px;
    color: #787878;
    font-size: 11px;
    font-weight: 400;
    line-height: 155%;
    text-transform: uppercase;
    background-image: url('../img/secure.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.hero-btn__wrapper {
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: center;
}


