html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
.container{
    max-width: 1740px;
    margin: 0 auto ;
    padding: 0 15px;

}
a{
    text-decoration: none;
    color:initial;
}
button{
    padding: 0;
    border-radius: 3px;
    border: none;

}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #fff;

}
.btn{
    padding: 15px 35px;
    color: #FFF;
    font-size: 15px;
    background-color: #3172B9;
    font-weight: 600;
}
.bt{
    width: 250px;
    height: 58px;
    padding: 15px 35px;
    background-color: #3172B9;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;

}
.nav__list{
    display: flex;
    gap: 52px;
}
.Home{
    color: #3172B9;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;   
}
.header__container{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    margin-right: 194px;
    margin-left: auto;
}
.header{
    padding: 14px 0;
}
.hero__content{
    background-image: url('../img/hero.jpg');
    width: 1540px;
    height: 550px;
    flex-shrink: 0;
}
.hero__title{
    color: #1C1C1C;
    font-size: 40px;
    font-weight: 300;
    line-height: 130%;
    max-width: 529px;
    margin-bottom: 104px;
}
.hero__descrirtion{
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    max-width: 471px;
    margin-bottom: 50px;
}
.hero__certificate{
    color: #787878;
    font-size: 11px;
    font-weight: 400;
    line-height: 155%;
    text-transform: uppercase;
    max-width: 143px;
    margin-bottom: 17px;
}


